{{- define "footer" -}}
<hr>
<hr>
<footer>
<a href="https://rcah.xyz">Author: Ryan Hildebrandt</a>
<a href="https://codeberg.org/ryancahildebrandt/aozora_reibun">Codeberg Repo</a>
</footer>
</html>
{{-  end  -}}
