{{- define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta MIME-version="1.0"/>
<meta Content-Type="text/html"/>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Aozora Reibun Email</title>
<h1>青空例文</h1>
<hr>
<hr>
{{-  end  -}}
